@media screen and (max-width: 1024px) {
    .widget-wrapper{
        .widget-stepper-wrapper{
            max-width: 85vw;
            margin-top: 7vh ;
            margin-bottom: 5vh ;
            
                .title-wrapper{
                    padding: 5vh 0 ;
                    .step-name{
                        white-space: nowrap;
                        font-size: 1.8vw;
                    }
                }
                .typeWrapper{
                    // padding: 10vh 2vw ;
                    padding: 7vh 2vw 1vh;
                    .container{
                        .hidden-row-wrapper{
                            height: 45vh;
                            .hidden-row{
                                max-height: 50vh;
                            }
                        }
            
                        .row{
                            .item-card{
                                .details{
                
                                    .device-img{
                                        img{
                                            width: 15vw ;
                                        }
                                    }
                                    .device-name{
                                        width: 12vw !important;
                                        font-size: 2.5vw ;
                                        padding-right: 2vw;
                                    }
                                    .store-wrapper{
                                        .store{
                                            .store-img{
                                                img{
                                                    // width: 15vw ;
                                                    width: 125px;
                                                }
                                            }
                                        }
                                    }
                                }
                                .zip-code{
                                    .input-zip-code{
                                        padding: 2vh 0;
                                        padding-left: 0vw ;
                                        input{
                                            width: 27vw !important;
                                        }
                                    }
                                }
                                .col-name{
                                    span{
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                        .list-map-btn{
                            img{
                                width: 2vw;
                            }
                        }
                        
    
                    }
                    
                }
                .type-map, .type-form{
                    padding: 2vh 2vw 1vh;
                }
                .button{
                    // margin: 2vh 0 4vh ;
        
                    button{
                        padding: 8px 24px ;
                    }
                }
    
    
            
        }
        .book-appointment{
            width: 95vw !important;
            margin: 0 auto 20vh !important;
            .title-wrapper{
                padding: 4vh 2vw ;
                .tittle{
                    h2{
                        font-size: 3vw ;
    
                    }
                }
            }
            .type-appointment{
                padding: 3vh 2vw ;
                .appointment-date{
                    width: 60vw ;
                    justify-content: space-evenly;
                    padding: 2vh 0;
                    .calendar{
                        .zabuto-calendar{
                            width: 25vw ;
                            height: 40vh ;
                        }
                    }
                }
                .time-of-appointment{
                    .time-wrapper{
                        width: 25vw ;
                    }
                }
            }
            .book-appointment-btn{
                .no-btn{
                    padding: 0 2vw ;
                }
            } 
        }
        .success-block{
            .success-block-wrapper{
                width: 85vw !important;
            }
        }
    }
    .widget-wrapper .typeWrapper .container .row .input-list-wrapper .zip-code .map-title span{
        font-size: 1.7vw;
    }
    // .widget-wrapper .typeWrapper .list-map .store-zip {
    //     width: 15vw;
    // }
    
  }

@media screen and (max-width: 955px) {
    .appointment-details{
        flex-direction: column-reverse;
        .appointment-date{
            width: 85vw !important;
        }
        .appointment-store{
            margin: 3vh 0;
            width: auto !important;
            height: unset !important;
            .selected-store{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: inherit;
                .store-zip{
                    p{
                        width: 20vw;
                    }
                }
            }
        }
    }
    .widget-wrapper .typeWrapper .container .row .item-card .details .store .store-wrapper .store-details .store-zip {
        width: 18vw;
    }
}

  @media screen and (max-width: 768px) {
    
    .animated-block{
        animation-duration: 0.3s !important;
         
    }

       .widget-wrapper{
        .widget-stepper-wrapper{
            width: 90vw !important;
            max-width: unset !important;
            margin: 7vh auto 5vh !important;
    
            .back-button{
                top: 8px;
            }
            .typeWrapper{
                padding: 20px 2vw 0;
                // min-height: 65vh;
                min-height: fit-content;
                overflow: visible;
                .hidden-row{
                    // max-height: 60vh !important;
                    max-height: unset !important;
                    height: fit-content;
                    overflow: visible;
                    padding-right: 3vw;
                }
                .container{
                    
                    // height: 58vh;
                    // overflow-y: scroll;
                    height: auto;
                    overflow-y: visible;
                    
                
                        .item-card{
                            // min-width: 42vw;
                            min-width: max-content;
                            .col-name{
                                padding: 0 5vw 0 5px ;
                                min-width: 20vw;
                                text-align: start;
                            }
                            position: relative;
                            .checkbox{
                                padding: 1vh 4vw !important;
                            }
                            .zip-code{
                                display: flex;
                                flex-direction: column;
                                align-items: start;
                                
                            }
                            .details{
                                flex-direction: column-reverse;
                                .device{
                                    padding: 3vh 0;
                                    .device-wrapper{
                                        justify-content: space-evenly;
                                    }
                                }
                                .store{
                                    width: unset !important;
                                    .store-wrapper{
                                        justify-content: space-around;
                                        width: unset !important;
                                    }
                                }
                            }
                            .problem{
                                .problem-wrapper{
                                    flex-direction: column;
                                    .problem-card{
                                        width: unset !important;
                                        .item-card{
                                            flex-direction: unset !important;
                                            justify-content: center ;
                                            min-width: unset;
                                            .problem-type{
                                                .col-img{
                                                   display: inline-block;
                                                   img{
                                                    width: 10vw;
                                                   }
            
                                                }
                                                .col-name{
                                                    display: inline-block;
                                                    padding-left: 1vw ;
                                                    span{
                                                        font-size: 2vw;
                                                        white-space: nowrap;
                                                    }
                                                }
                                            }
                                            .option{
                                                text-align: center;
                                                h5{
                                                    font-size: 1.8vw;
                                                    display: block ;
                                                }
                                                span{
                                                    display: block ;
                                                    font-size: 1.8vw;
                                                }
                                            }
                                        }
            
                                    }
                                }
                            }
                            .radio{
                                padding: 0 2vw 10px !important;
                                .radio-btn{
                                    margin: 0 auto 1vh !important;
                                    position: relative;
                                    right: 1vw;
                                    width: 25px ;
                                    height: 25px;
                                }
                            }
                            .change-list-map{
                                flex-direction: column-reverse;
                                position: absolute;
                                bottom: 1vh;
                                right: 0;
                            } 
                            .form-control {
                                margin-bottom: 1vh !important;
                            }
                            
                            
                        }
                        .input-list-wrapper, .item-card-form, .list-map, .quote-card{
                            min-width: unset ;
                        }
                        .row{
                            .button{
                                margin-bottom: 0 !important;
                                padding-top: 2vh;
                                .btn{
                                    margin-bottom: 2vh;
                                    padding: 1vh 4vw;
                                    top: unset;
                                }
                            }
                            .list-map{
                                .item-card{
                                    min-width: auto;
                                }
                                .store-zip{
                                    padding: 0 1vw;
                                }

                            }
                        }
    
                }  
            }  
            // .button{
                
            // }
        }
        .book-appointment{
            top: 5vh !important;
            .typeWrapper{
                padding: 0 !important;
                .selected-store-tittle{
                    padding: 2vw;
                }
            }
            
            .appointment-details{
                flex-direction: column-reverse;
                align-items: center;
                .appointment-date{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .zabuto-calendar{
                        width: 65vw !important;
                    }
                    .time-wrapper{
                        // width: 65vw !important;
                        width: auto !important;
                    }
                    h6{
                        padding-top: 3vh;
                    }
                }
                .appointment-store{
                    margin: 3vh 1vw;
                    width: unset !important;
                    height: unset !important;
                    .selected-store{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: inherit;
                        .store-name{
                            padding: 0 2vw;
                        }
                        .store-zip{
                            p{
                                width: 25vw;
                            }
                        }
                        .change-appointment-btn{
                            padding-bottom: 2vh;
                        }
                    }
                }
            }
        } 
       }

    .widget-wrapper .typeWrapper .container .row .button{
        // margin: 2vh 0 !important;
        margin: 2vh 4vw 0 0 !important;
        .btn{
            top: 10px;
            padding: 8px 20px;

        }
    } 
    .widget-wrapper .widget-stepper-wrapper .typeWrapper .container .row .item-card .details .device-name {
        font-size: 3vw;
    }
    .widget-wrapper .typeWrapper .container .row .input-list-wrapper .zip-code .map-title span {
        font-size: 2.7vw;
    }
    .widget-wrapper .widget-stepper-wrapper .typeWrapper .container{
        .hidden-row-wrapper {
            // height: 45vh;
            height: auto;
            max-height: unset;
            padding-right: 3vw;
        }

    } 
    
    .widget-wrapper .book-appointment .book-appointment-btn {
        padding: 0 28px 43px;
        justify-content: center !important;
    }
    .widget-wrapper .widget-stepper-wrapper .typeWrapper .container{
        .row{
            .item-card{
                .col-name {
                    span {
                        font-size: 15px;
                    }
                }
                .details{
                    .store{
                        .store-wrapper{
                            .store-img{
                                img{
                                    min-width: 15vw;
                                }
                            }
                            .store-details{
                                .store-zip {
                                    width: 25vw;
                                }
                                .button{
                                    padding-top: 0;
                                }
                        
                            } 
                    
                        } 
                    } 
                } 
            
            } 

        } 

    }  
}

  @media screen and (max-width: 688px) {
    .widget-wrapper {
        .widget-stepper-wrapper{
            .typeWrapper{
                .container{
                    left: unset;
                    transform: unset;
                    .hidden-row-wrapper {
                        // height: 55vw;
                        max-height: unset;
                    }
                }
            }
        }
    }
        
        
    .appointment-store{
        display: flex;
        width: 30vw !important;
        justify-content: center;
        .selected-store{
            flex-direction: column;
        }
    }
  }

  @media screen and (max-width: 575px) {
    .widget-wrapper{
        .widget-stepper-wrapper{
            .typeWrapper{
                .container{
                    .hidden-row-wrapper{
                        // height: 60vw;
                        // max-height: 365px;
                    }
                    .list-map-btn img {
                        width: 5vw !important;
                    }
                    // .item-card{
                    //     padding: 1vh 3vw !important;
                    // }
                }
                
                
            }
            .col{
                position: relative;
                .list-map{
                    padding: 1vh !important;
                    .row{
                        width: -webkit-fill-available !important;
                    }
                    .item-card{
                        overflow: visible !important;
                        flex-direction: unset !important;
                        height: 18vh;
                        .store-img{
                            width: 30vw !important;
                            img{
                                max-width: 20vw;
                            }
                        }
                    }
                    .store-name{
                        padding: 0 2vw !important;
                        position: absolute;
                        top: 0;
                        display: flex;
                        justify-content: center;
                        width: -webkit-fill-available;
                        margin: 0.5vh 0;
                        h5{
                            margin: 0 !important;
                        }
                        h5{
                            font-size: 3.5vw !important;
                        }
                    }
                    .store-zip{
                        width: 45vw;
                        p{
                            margin: 0;
                            font-size: 3.4vw;
                        }
                    }
                }
            }
            }
    }
    .widget-wrapper .book-appointment .typeWrapper .appointment-details .appointment-store .selected-store .store-zip p {
        width: 45vw;
    }
    .widget-wrapper .widget-stepper-wrapper .typeWrapper .container .row .item-card .details .store .store-wrapper {
        text-align: center;
        flex-direction: column;
        min-width: unset !important;
        .store-zip{
            width: auto;
        }
    }
  }

@media screen and (max-width: 430px) {
    // .widget-stepper .widget-stepper-wrapper .typeWrapper .container .hidden-row-wrapper {
    //     height: 92vw;
    // }
    // .widget-wrapper .typeWrapper .container .row .item-card .problem .problem-card 
    // .problem-type {
                        
    // }
    // // .widget-wrapper .widget-stepper-wrapper .typeWrapper .container .row .button {
    // //     // margin-bottom: 0 !important;
    // //     padding-top: unset;
    // // }
    #send-quote-button{
        text-align: center;
    }
    .quote-information {
        padding: 4vh 0 2vh !important;
    }

    .widget-wrapper {
        .widget-stepper-wrapper{
            .typeWrapper{
                padding: 15px 1vw 1vh;
                // min-height: 67vh;
    
                .container{
                    padding: 0 0 0 2vw !important;
                    // height: 65vh;
                    .hidden-row-wrapper{
                        // height: 53vh;
                        margin-bottom: 0;
                    }
                    .row{
                        .list-map{
                            
                        }
                        .item-card{
                            .details{
                                padding: 10px 10px 5px !important;
                                .store{
                                    .store-wrapper{
                                        // text-align: center;
                                        // flex-direction: column;
                                        // min-width: unset !important;
                                        .store-img{
                                            img{
                                                width: 25vw !important;
                                            }
                                        }
                                        .store-details{
                                            .change-store-btn{
                                                display: none;
                                            }
                                            .store-zip{
                                                width: 100% !important;
                                                font-size: 3.3vw !important;
                                            }
                                            
                                            .btn{
                                                padding: 5px 20px;
                                            }
                                        }
                                        
                                    }
                                    
                                }
                                .device{
                                    .device-wrapper{
                                        .device-img{
                                            img{
                                                width: 25vw;
                                            }
                                        }
                                        .device-name{
                                            font-size: 4vw;
                                        }
                                    }
                                }
                            }
    
                        }
                    }
                    .item-card{
                        .problem .problem-wrapper .problem-card {
                            .item-card{
                                .problem-type {
                                    flex-direction: column;
                                    align-items: flex-start;
                                    .col-img img {
                                        width: 11vw !important;
                                        object-fit: scale-down;
                                        height: 5vh;
                                    }
                                    .col-name{
                                        span{
                                            font-size: 2.8vw !important;
                                        }
                                    }
                                   
                                }
                                .option {
                                    h5, span {
                                        font-size: 2.5vw;
                                    } 
                                    
                                }
                            }
                        }
                        



                    } 
                    
                    
                    
              
                }
                .hidden-row{
                    padding-right: 0;
                    margin-right: -2vw;
                }
                .col-name{
                    padding: 0 0 0 10px !important;
                    span{
                        font-size: 4vw;
    
                    }
                }
                .item-card{
                    .col-img{
                        .view-list-img, .view-map-img{
                            width: 5vw !important;
                            height: 5vw !important;
                        }
                        img{
                            width: 20vw;
                            object-fit: scale-down;
                        }
                        
                    }
                    .quote-delivery-title{
                        padding: 1vh 0 !important;
                        h6{
                            // font-size: 3.5vw !important;
                            font-size: 5vw !important;
                            font-weight: 500 !important;
    
                        }
                    }
                    .form-quote{
                        padding-top: 1vh !important;
                        .row{
                            margin-bottom: unset !important;
                            .btn{
                                top: unset;
                            }
                        }
                        
    
                    }
                    .radio{
                        label{
                            font-size: 3vw;
                            flex-direction: column;
                            align-items: center;
                        }
                    }
                    .radio-btn{
                        margin-bottom: 1vh;
                        width: 6vw;
                    }
                    .zip-code{
                        .map-title{
                            padding: 1vh 0 2vh;
                            span{
                                font-size: 3.3vw !important;
                            }
                        }
                        .input-zip-code{
                            input{
                                padding: 1vh 5px !important;
                                font-size: 3vw;
                            }
                        }
                    }
                    .change-list-map{
                        bottom: 0;
                    }
                    
                    
                    
                    
         
                .store-list-wrapper{
    
                    --bs-gutter-y: 1vh;
                    .store-list-card {
                    height: 14vh;
                }
                }
                
                
                .radio-button-wrapper{
                    justify-content: space-between;
                    .radio{
                        text-align: center;
                        max-width: 17vw;
                            .radio-btn {
                                margin: 0 auto 1vh;
                                // padding-bottom: 2vh;
                            }
                    }
                }
                .store-list-card{
                    .store-zip{
                        padding: 3vh 0 0 !important;
                        // position: absolute;
                        // right: 5vw;
                        // bottom: 2vh;
            
                    }
                    .store-name{

                    }
                    .store-img{
                        position: relative;
                        top: 1vh;
                    }
                }
                
            }
            }
            .type-map{
                padding: 0 1vw;
            }
        }
        .book-appointment{
                .appointment-details{
                    flex-direction: column-reverse;
                    align-items: center;
                }
                .change-appointment-btn{
                    .btn{
                        width: 120px !important;
                        height: 38px !important;
                    }
                }
        }

    }
    .widget-stepper{
        // margin-top: 4vh ;
        .stepper-item .back-button {
            top: 8px;
            padding: 0 2px;
       
        }
        .widget-stepper-wrapper{
            max-width: 95vw;
            // margin-top: 4vh !important;
            .title-wrapper{
                padding: 2vh 0 7vh;
                .step-name{
                    white-space: unset;
                    font-size: 2.5vw;
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    top: 45px;
                    text-align: center;
                }
            }
            
            
    }
    
    
    
    
}
.widget-wrapper{
    .success-block{
        .success-block-wrapper{
            padding: 5vh 0 2vh ;
            .main-img{
                img{
                    width: 40vw ;

                }
            }
            .message{
                width: 60vw ;
                p{
                    font-size: 3vw;
                }
            }
            .appointment-details{
                h4{
                    font-size: 3vw;
                }
            }
            .store-name{
                padding-top: 1.5vh;
            }
            .date{
                h3{
                    font-size: 3vw ;
                    margin-bottom: 1vh;
                }
            }
            .store-zip{
                p{
                    font-size: 3vw;
                }
            }
        }
    }
}

.widget-wrapper .book-appointment .title-wrapper .tittle h2 {
    font-size: 4vw ;
  
}
 

    
}
@media screen and (max-width: 375px) {
    .widget-wrapper .widget-stepper-wrapper .typeWrapper .container .row .item-card .details .store .store-wrapper .store-details .btn {
        font-size: 4vw;
    }
    .widget-wrapper .widget-stepper-wrapper .typeWrapper .item-card .form-quote .row .btn {
        font-size: 4vw;
    }
    .widget-wrapper .widget-stepper-wrapper .typeWrapper .container .row .button .btn {

        font-size: 4vw;
    }
    .widget-wrapper .typeWrapper .list-map-btn {
         width: 30px;
         height: 33px;
 
         }   
         .appointment-btn, .no-btn{
             .btn{
                 font-size: 3vw !important;
             }
         }
         .selected-store{
             .change-appointment-btn{
                 button{
                     font-size: 3vw;
                     width: 28vw !important;
                     height: 3vh !important;
                 }
             }
             
         }
         .device-name{
             span{
                 font-size: 5vw;
             }
         }
}

  @media screen and (max-width: 320px) {
    // .type-form{
    //     .item-card-form{
    //         padding: 1vh 3vw !important;
    //     }
    // }
    .widget-wrapper .typeWrapper .container .row .item-card {
        padding: 1vh 3vw !important;
        .col-name {
            white-space: unset;
            text-align: start;
            span{
                font-size: 5vw;
            }
        }
    }
    // .widget-stepper .widget-stepper-wrapper .typeWrapper .container .hidden-row-wrapper {
    //     height: 100vw;
    // }
    .widget-stepper-wrapper{
        .title-wrapper{
            .step-name{
                font-size: 3vw !important;
            }
        }
        .typeWrapper{
            .input-list-wrapper{
                padding: 0 !important;
            }
            .item-card{
                .col-img{
                    img{
                        width: 15vw !important;
                        height: 15vw !important;
                    }
                    
                }
                .zip-code{
                    .map-title{
                        padding: 0 0 2vh !important;
                    }
                }
                .map-title{
                    span{
                        font-size: 3vw;
                    }
                }
                .change-list-map{
                    span{
                        font-size: 3vw !important;
                    }
                }
                .details{
                    .device-img{
                        img{
                            width: 35vw !important;
                        }
                    }
                    .device-name{
                        span{
                            font-size: 5vw !important;
                        }
                    }
                }
            }
        }
        .type-map, .type-form{
            padding-top: 2vh !important;
        }
        
        .list-map {
            .store-zip p {
                font-size: 3.5vw;
            }
            .store-name h5 {
                font-size: 3.5vw !important;
            }

        }
    }
    .problem-wrapper{
        flex-wrap: unset !important;
        .option{
            h5,span{
                font-size: 3vw !important;
            }
        }
    }
    .book-appointment{
        .title-wrapper {
            padding: 2vh 2vw !important;
            .tittle h2 {
                font-size: 5vw;
            }
        }
        .selected-store-tittle{
            h4{
                font-size: 5vw;

            }
        }
    
        .type-appointment{
            padding: 1vh 5vw !important;
        }
        .appointment-details{
            .appointment-date{
                padding: 10px !important;
                .time-of-appointment{
                    .title{
                        h6{
                            padding-bottom: 10px !important;
                        }
                    }
                }
            }
        }
        .book-appointment-btn{
            .no-btn{
                margin: 0 10px !important;
                padding: 5px 15px !important; 
            }
        }
        
    }
    .success-block .success-block-wrapper {
        .main-img{
            img{
                width: 30vw !important;
            }
        }
        .success-title{
            h1{
                padding-top: 12px !important;
            }
        }
        .message {
            width: 75vw !important;
            p{
                font-size: 5vw !important;
            }
        }
        .appointment-details{
            h4{
                font-size: 4vw !important;
            }
        }
        .date{
            h3{
                font-size: 4vw !important;
            }
        }
    }

    
  }